# Include runtime dependencies
-r requirements.txt

# These are the development and testing dependencies

# Testing
pytest==8.4.1
pytest-xdist==3.6.1
pytest-cov==4.3.1
codecov==4.5.0

# Linting and formatting
flake8==7.1.1
black==24.8.0
isort==5.13.2
