# Core dependencies for Hangman Project

# Testing
pytest==8.4.1
pytest-xdist==3.6.1
pytest-cov
codecov

# Linting and formatting
flake8==7.1.1
black==24.8.0
isort==5.13.2

# (Optional) If your project uses requests or other libraries, add here
# requests==2.32.3

# User
flask==3.1.2