<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>closed page</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main>
        <h1>LOCKLEAZE CODING CLUB HANGMAN GAME</h1> 
        <h2>"Bye bye, see you again, don't be shy""</h2><br>
        <div>
    </main>
    <script src="index.js"></script>
  </body>
</html>