<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>landing page</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main>
        <h1>LOCKLEAZE CODING CLUB HANGMAN GAME</h1> 
        <h2>"Make your selection Boss"</h2><br>
        <div>
<form action="/" method="post">
    <button type="submit" name="action" value="1">NEW GAME</button>
    <button type="submit" name="action" value="2">RESUME GAME</button>
    <button type="submit" name="action" value="3">FACTORY RESET</button>
</form>
</div><br>
<div>
<form action="/closed" method="post">
    <button type="submit" name="action" value="4">EXIT</button>
</form>
        </div>
    </main>
    <script src="index.js"></script>
  </body>
</html>


