name: API workflow

on: [push, pull_request]

      # ---------------------------------------------------------
      # CREATE THE EVENT FILE
      # ---------------------------------------------------------

jobs:
  event_file:
    name: "Event File"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/upload-artifact@v4
      with:
        name: Event File
        path: ${{ github.event_path }}

  build:
    runs-on: ubuntu-latest
    name: Test python API
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v2
      with:
        python-version: '3.10'    
    - uses: codecov/codecov-action@v5
      # ---------------------------------------------------------
      # INSTALL DEPENDENCIES
      # ---------------------------------------------------------
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install -r requirements-dev.txt

      # ---------------------------------------------------------
      # RUN TESTS (FAILURE RECORDED, PIPELINE CONTINUES)
      # ---------------------------------------------------------
    - name: Run tests 
      run: |
        mkdir -p test-results
        pytest \
        --junitxml=test-results/results.xml \
#--cov . \
#--cov-report=xml:test-results/coverage.xml \
      # ---------------------------------------------------------
      # UPLOAD COVERAGE TO CODECOV
      # ---------------------------------------------------------
    - name: Create coverage report
      uses: actions/checkout@v4
    - name: Run tests and collect coverage
      run: pytest --cov .
    - name: Upload coverage reports to Codecov
      run: |
        # Replace `linux` below with the appropriate OS
        # Options are `alpine`, `linux`, `macos`, `windows`
        curl -Os https://cli.codecov.io/latest/windows/codecov
        chmod +x codecov
        ./codecov --verbose upload-process --fail-on-error -t ${{ secrets.CODECOV_TOKEN }} -n 'service'-${{ github.run_id }} -F service -f coverage-service.xml
      # ---------------------------------------------------------
      # UPLOAD TEST RESULTS
      # ---------------------------------------------------------
    - name: Upload Test Results
      if: (!cancelled())
      uses: actions/upload-artifact@v4
      with:
        name: Test Results
        path: |
          test-results/*.xml
      # ---------------------------------------------------------
      # FORMAT CODE WITH BLACK
      # Ref: https://towardsdatascience.com/black-with-git-hub-actions
      # ---------------------------------------------------------
    - name: Format code with black
      run: |
           black .
      # ---------------------------------------------------------
      # LINTING 
      # ---------------------------------------------------------
    - name: Run Flake8
      run: |
            set +e
            flake8 .
            EXIT_CODE=$?
            set -e

            if [ $EXIT_CODE -ne 0 ]; then
              echo "LINT_FAILED=true" >> $GITHUB_ENV
            fi
      # ---------------------------------------------------------
      # MOVING ONTO TEST REPORT PUBLICATION
      # ---------------------------------------------------------
