name: API workflow

on: [push, pull_request]

      # ---------------------------------------------------------
      # CREATE THE EVENT FILE
      # ---------------------------------------------------------

jobs:
  event_file:
    name: "Event File"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/upload-artifact@v4
      with:
        name: Event File
        path: ${{ github.event_path }}

  setup:
    runs-on: ubuntu-latest
    name: Test python API
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v2
      with:
        python-version: '3.10'    
    - uses: codecov/codecov-action@v5
      # ---------------------------------------------------------
      # INSTALL DEPENDENCIES
      # ---------------------------------------------------------
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install -r requirements-dev.txt

      # ---------------------------------------------------------
      # RUN TESTS (FAILURE RECORDED, PIPELINE CONTINUES)
      # ---------------------------------------------------------
  Test:
    name: Run tests
    needs: setup
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Run pytest
      run: |
        mkdir -p test-results
        pytest --junitxml=test-results/results.xml

      # ---------------------------------------------------------
      # UPLOAD TEST RESULTS
      # ---------------------------------------------------------
  Upload_test_results:
    name: Upload Test Results
    needs: Test
    runs-on: ubuntu-latest
    if: always()
    steps:
    - uses: actions/upload-artifact@v4
      with:
        name: Test Results
        path: test-results/*.xml

      # ---------------------------------------------------------
      # UPLOAD COVERAGE TO CODECOV
      # ---------------------------------------------------------
  Codecov:
    name: Setup Codecov
    needs: setup
    runs-on: ubuntu-latest
    if: always()
    steps:
    - uses: actions/checkout@v4
    - name: Create coverage report
      if: always()
      run: |
          pytest --cov . \
            --cov-report=xml:test-results/coverage.xml
    - name: Upload coverage reports to Codecov
      if: always()
      run: |
       curl -fsSL https://cli.codecov.io/latest/linux/codecov -o codecov
       chmod +x codecov
       ./codecov upload-process \
       --fail-on-error \
       -t "${{ secrets.CODECOV_TOKEN }}" \
       -n "service-${{ github.run_id }}" \
       -F service \
       -f coverage-service.xml

      # ---------------------------------------------------------
      # FORMAT CODE WITH BLACK
      # Ref: https://towardsdatascience.com/black-with-git-hub-actions
      # ---------------------------------------------------------
  Black:
    name: Format_code_with_black
    needs: setup
    runs-on: ubuntu-latest
    if: always()
    steps:
    - name: Format
      run: |
        black .
      # ---------------------------------------------------------
      # LINTING 
      # ---------------------------------------------------------
  Flake8:
    name: Run_Flake8
    needs: setup
    runs-on: ubuntu-latest
    if: always()
    steps:
    - name: Lint
      run: |
        set +e
        flake8 .
        EXIT_CODE=$?
        set -e

        if [ $EXIT_CODE -ne 0 ]; then
        echo "LINT_FAILED=true" >> $GITHUB_ENV
        fi
      # ---------------------------------------------------------
      # MOVING ONTO TEST REPORT PUBLICATION
      # ---------------------------------------------------------
