name: Lockleaze CI workflow

on: [push, pull_request]

  # ---------------------------------------------------------
  # CREATE THE EVENT FILE
  # ---------------------------------------------------------

jobs:
  event_file:
    name: "Event File"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/upload-artifact@v4
      with:
        name: Event File
        path: ${{ github.event_path }}

  # ---------------------------------------------------------
  # JOB: CHECK DEPENDENCIES
  # ---------------------------------------------------------
  Dependencies:
    name: Build env
    runs-on: ubuntu-latest
    steps: 
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v2
      with:
        python-version: '3.10'    

    # ---------------------------------------------------------
    # INSTALL DEPENDENCIES
    # ---------------------------------------------------------

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install -r requirements-dev.txt

  # ---------------------------------------------------------
  # SETUP FOR JOB: TEST
  # ---------------------------------------------------------
  Test:
    name: Pass_Tests
    needs: event_file
    runs-on: ubuntu-latest
    steps: 
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v2
      with:
        python-version: '3.10'    

    # ---------------------------------------------------------
    # INSTALL DEPENDENCIES
    # ---------------------------------------------------------

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install -r requirements-dev.txt
    # ---------------------------------------------------------
    # RUN TESTS
    # ---------------------------------------------------------

    - name: Run pytest
      run: |
        mkdir -p test-results
        pytest --junitxml=test-results/results.xml

      # ---------------------------------------------------------
      # UPLOAD TEST RESULTS
      # ---------------------------------------------------------
    - name: Upload Test Results
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: Test Results
        path: test-results/*.xml

  # ---------------------------------------------------------
  # SETUP FOR JOB: CODECOV
  # ---------------------------------------------------------
  Codecov:
    name: Check_Code_Coverage
    needs: Dependencies
    runs-on: ubuntu-latest
    if: always()
    steps: 
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v2
      with:
        python-version: '3.10'    

    # ---------------------------------------------------------
    # INSTALL DEPENDENCIES
    # ---------------------------------------------------------

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install -r requirements-dev.txt
      # ---------------------------------------------------------
      # RUN TESTS AND CREATE REPORT
      # ---------------------------------------------------------
    - name: Run Tests
      run: |
        mkdir -p codecov-results
        pytest --cov . --junitxml=codecov-results/results.xml --cov-report=xml:codecov-results/coverage-service.xml

      # ---------------------------------------------------------
      # UPLOAD TEST RESULTS TO CODECOV
      # ---------------------------------------------------------
    - name: Upload coverage reports to Codecov
      if: always()
      run: |
       curl -fsSL https://cli.codecov.io/latest/linux/codecov -o codecov
       chmod +x codecov
       ./codecov upload-process \
       --fail-on-error \
       -t "${{ secrets.CODECOV_TOKEN }}" \
       -n "service-${{ github.run_id }}" \
       -F service \
       -f codecov-results/coverage-service.xml

  # ---------------------------------------------------------
  # JOB: FORMAT CODE WITH BLACK
  # Ref: https://towardsdatascience.com/black-with-git-hub-actions
  # ---------------------------------------------------------
  Black:
    name: Format_code_with_black
    needs: Dependencies
    runs-on: ubuntu-latest
    if: always()
    steps: 
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v2
      with:
        python-version: '3.10'    

    # ---------------------------------------------------------
    # INSTALL DEPENDENCIES
    # ---------------------------------------------------------

    - name: Install Black
      run: |
        python -m pip install --upgrade pip
        pip install black

    # ---------------------------------------------------------
    # FORMAT WITH BLACK
    # ---------------------------------------------------------
    - name: Format
      run: |
        black .
  # ---------------------------------------------------------
  # LINTING 
  # ---------------------------------------------------------
  Flake8:
    name: Lint
    needs: Black
    runs-on: ubuntu-latest
    steps: 
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v2
      with:
        python-version: '3.10'    

    # ---------------------------------------------------------
    # INSTALL DEPENDENCIES
    # ---------------------------------------------------------

    - name: Install Flake8
      run: |
        python -m pip install --upgrade pip
        pip install flake8
        pip install black
    # ---------------------------------------------------------
    # LINT WITH FLAKE 8
    # ---------------------------------------------------------
    - name: Lint
      run: |
        black .
        set +e   # turn off exit-on-error
        LINT_OUTPUT=$(flake8 .)
        EXIT_CODE=$?
        echo "$LINT_OUTPUT"

        if [ $EXIT_CODE -ne 0 ]; then
        echo "Linting failed!"
        exit 1
        fi
        set -e   # restore exit-on-error

      # ---------------------------------------------------------
      # MOVING ONTO TEST REPORT PUBLICATION
      # ---------------------------------------------------------
  test-results:
    name: Test Results
    needs: Test
    runs-on: ubuntu-latest
    if: always()
    permissions:
      checks: write

      # needed unless run with comment_mode: off
      pull-requests: write

      # only needed for private repository
      #contents: read

      # only needed for private repository
      #issues: read

      # required by download step to access artifacts API
      actions: read
      # ---------------------------------------------------------
      # DOWNLOAD AND EXTRACT ARTEFACTS
      # ---------------------------------------------------------
    steps:

      - name: Print event JSON
        run: |
            echo "Event: ${{ toJSON(github.event) }}"
      #- name: Download and Extract Artifacts
        #uses: dawidd6/action-download-artifact@e7466d1a7587ed14867642c2ca74b5bcc1e19a2d
        #with:
          #run_id: ${{ github.event.workflow_run.id }}
          #path: artifacts
      # ---------------------------------------------------------
      # PUBLISH TEST RESULTS TO GITHUB
      # ---------------------------------------------------------
      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: (!cancelled())
        with:
          files: |
                artifacts/test-results/results.xml


       # - name: Publish Test Results
       # uses: EnricoMi/publish-unit-test-result-action@v2
       # id: test-results
        #with:
        #  check_name: "Test Results (${{ github.event.workflow_run.event || github.event_name }})"
        #  commit: ${{ github.event.workflow_run.head_sha }}
        #  event_file: artifacts/event.json
        #  event_name: ${{ github.event.workflow_run.event }}
        #  files: "artifacts/**/*.xml"

      # ---------------------------------------------------------
      # CREATE AND PUBLISH THE TEST REPORT BADGE
      # ---------------------------------------------------------
      - name: Set badge color
        shell: bash
        run: |
                case ${{fromJSON( steps.test-results.outputs.json ).conclusion }} in
                success)
                        echo "BADGE_COLOR=31c653" >> $GITHUB_ENV
                        ;;
                failure)
                        echo "BADGE_COLOR=800000" >> $GITHUB_ENV
                        ;;
                neutral)
                        echo "BADGE_COLOR=696969" >> $GITHUB_ENV
                        ;;
                esac

      - name: Create badge
        uses: emibcn/badge-action@808173dd03e2f30c980d03ee49e181626088eee8
        continue-on-error: true
        with:
          label: Tests
          status: '${{ fromJSON( steps.test-results.outputs.json ).formatted.stats.tests }} tests, ${{ fromJSON( steps.test-results.outputs.json ).formatted.stats.runs }} runs: ${{ fromJSON( steps.test-results.outputs.json ).conclusion }}'
          color: ${{ env.BADGE_COLOR }}
          path: badge.svg

      - name: Upload badge to Gist
        # Upload only for master branch - trying to eliminate so works for dev and master
        #i f: >
        #github.event_name == 'workflow_run' && github.event.workflow_run.head_branch == 'master' ||
        #github.event_name != 'workflow_run' && github.ref == 'refs/heads/master'
        uses: andymckay/append-gist-action@6e8d64427fe47cbacf4ab6b890411f1d67c07f3e
        with:
          token: ${{ secrets.GIST_TOKEN }}
          gistURL: https://gist.github.com/Rfp21/90fb2d9a1d7587a677b407d04de38e17.js
          file: badge.svg