name: API workflow

on: [push, pull_request]

      # ---------------------------------------------------------
      # CREATE THE EVENT FILE
      # ---------------------------------------------------------

jobs:
  event_file:
    name: "Event File"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/upload-artifact@v4
      with:
        name: Event File
        path: ${{ github.event_path }}

  build:
    runs-on: ubuntu-latest
    name: Test python API
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v2
      with:
        python-version: '3.10'
      # ---------------------------------------------------------
      # INSTALL DEPENDENCIES
      # ---------------------------------------------------------
    - name: Install dependencies
      run: python -m pip install --upgrade pip
           pip install -r requirements.txt
           pip install -r requirements-dev.txt

      # ---------------------------------------------------------
      # RUN TESTS (FAILURE RECORDED, PIPELINE CONTINUES)
      # ---------------------------------------------------------
    - name: Run tests and collect coverage
      run: pytest --cov=api.calculator --cov-report=xml
      # ---------------------------------------------------------
      # UPLOAD COVERAGE TO CODECOV
      # ---------------------------------------------------------
    - name: Upload coverage reports to Codecov with GitHub Action
      uses: codecov/codecov-action@v5
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      # ---------------------------------------------------------
      # UPLOAD TEST RESULTS
      # ---------------------------------------------------------
    - name: Upload Test Results
      if: (!cancelled())
      uses: actions/upload-artifact@v4
      with:
        name: Test Results
        path: |
          test-results/*.xml
      # ---------------------------------------------------------
      # FORMAT CODE WITH BLACK
      # Ref: https://towardsdatascience.com/black-with-git-hub-actions
      # ---------------------------------------------------------
    - name: Format code with black
      run: |
           black .
      # ---------------------------------------------------------
      # LINTING 
      # ---------------------------------------------------------
    - name: Run Flake8
      run: |
            set +e
            flake8 .
            EXIT_CODE=$?
            set -e

            if [ $EXIT_CODE -ne 0 ]; then
              echo "LINT_FAILED=true" >> $GITHUB_ENV
            fi
      # ---------------------------------------------------------
      # MOVING ONTO TEST REPORT PUBLICATION
      # ---------------------------------------------------------
