name: Python CI

on:
  push:
    branches: []
  pull_request:
    branches: []

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.11]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: pip install -r requirements-dev.txt

      - name: Run Black check
        run: black .

      - name: Lint with flake8
        run: flake8 .

      - name: Run tests with pytest and generate coverage
        continue-on-error: true
        run: |
          pytest -n auto \
            --cov=. \
            --cov-report=xml:coverage.xml \
            --cov-report=term \
            --cov-fail-under=0 \
