name: API workflow

on: [push, pull_request]

      # ---------------------------------------------------------
      # CREATE THE EVENT FILE
      # ---------------------------------------------------------

jobs:
  event_file:
    name: "Event File"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/upload-artifact@v4
      with:
        name: Event File
        path: ${{ github.event_path }}

  build:
    runs-on: ubuntu-latest
    name: Test python API
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v2
      with:
        python-version: '3.10'    
    - uses: codecov/codecov-action@v5
      # ---------------------------------------------------------
      # INSTALL DEPENDENCIES
      # ---------------------------------------------------------
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install -r requirements-dev.txt

      # ---------------------------------------------------------
      # RUN TESTS (FAILURE RECORDED, PIPELINE CONTINUES)
      # ---------------------------------------------------------
    - name: Run tests 
      run: |
        mkdir -p test-results
        pytest \
        --junitxml=test-results/results.xml \
#--cov . \
#--cov-report=xml:test-results/coverage.xml \
      # ---------------------------------------------------------
      # UPLOAD TEST RESULTS
      # ---------------------------------------------------------
    - name: Upload Test Results
      if: (!cancelled())
      uses: actions/upload-artifact@v4
      with:
        name: Test Results
        path: |
          test-results/*.xml

      # ---------------------------------------------------------
      # UPLOAD COVERAGE TO CODECOV
      # ---------------------------------------------------------
    - name: Setup Codecov
      if: (!cancelled())
      uses: actions/checkout@v4
    - name: Create coverage report
      if: (!cancelled())
      run: |
        pytest --cov .
        --cov-report=xml:test-results/coverage.xml 
    - name: Upload coverage reports to Codecov
      if: (!cancelled())
      run: |
       curl -fsSL https://cli.codecov.io/latest/linux/codecov -o codecov
       chmod +x codecov
       ./codecov upload-process \
       --fail-on-error \
       -t "${{ secrets.CODECOV_TOKEN }}" \
       -n "service-${{ github.run_id }}" \
       -F service \
       -f coverage-service.xml

      # ---------------------------------------------------------
      # FORMAT CODE WITH BLACK
      # Ref: https://towardsdatascience.com/black-with-git-hub-actions
      # ---------------------------------------------------------
    - name: Format code with black
      if: always()
      run: |
           black .
      # ---------------------------------------------------------
      # LINTING 
      # ---------------------------------------------------------
    - name: Run Flake8
      if: always()
      run: |
            set +e
            flake8 .
            EXIT_CODE=$?
            set -e

            if [ $EXIT_CODE -ne 0 ]; then
              echo "LINT_FAILED=true" >> $GITHUB_ENV
            fi
      # ---------------------------------------------------------
      # MOVING ONTO TEST REPORT PUBLICATION
      # ---------------------------------------------------------
